{% extends 'main/base.html' %}
{% load static %}
{% block title %}Premium{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <h1><b>Standard characters</b></h1>
<div class="row" style="margin-bottom:60px">
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Antonio.png' %}" alt="ERROR">
        <h5><b>Antonio Belpaese</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Imelda.png' %}" alt="ERROR">
        <h5><b>Imelda Belpaese</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Pasqualina.png' %}" alt="ERROR">
        <h5><b>Pasqualina Belpaese</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Gennaro.png' %}" alt="ERROR">
        <h5><b>Gennaro Belpaese</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Arca.png' %}" alt="ERROR">
        <h5><b>Arca Ladonna</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Porta.png' %}" alt="ERROR">
        <h5><b>Porta Ladonna</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Lama.png' %}" alt="ERROR">
        <h5><b>Lama Ladonna</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Poe.png' %}" alt="ERROR">
        <h5><b>Poe Ratcho</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Clerici.png' %}" alt="ERROR">
        <h5><b>Suor Clerici</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Dommario.png' %}" alt="ERROR">
        <h5><b>Dommario</b></h5>
        </div>
    </div><div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Krochi.png' %}" alt="ERROR">
        <h5><b>Krochi Freetto</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Christine.png' %}" alt="ERROR">
        <h5><b>Christine Davain</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Pugnala.png' %}" alt="ERROR">
        <h5><b>Pugnala Provola</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Giovanna.png' %}" alt="ERROR">
        <h5><b>Giovanna Grana</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Poppea.png' %}" alt="ERROR">
        <h5><b>Poppea Pecorina</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Concetta.png' %}" alt="ERROR">
        <h5><b>Concetta Caciotta</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Mortaccio.png' %}" alt="ERROR">
        <h5><b>Mortaccio</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Cavallo.png' %}" alt="ERROR">
        <h5><b>Yatta Cavallo</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Ramba.png' %}" alt="ERROR">
        <h5><b>Bianca Ramba</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-OSole.png' %}" alt="ERROR">
        <h5><b>Poe Ratcho</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Ambrojoe.png' %}" alt="ERROR">
        <h5><b>Sir Ambrojoe</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Gallo.png' %}" alt="ERROR">
        <h5><b>Iguana Gallo Valletto</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Divano.png' %}" alt="ERROR">
        <h5><b>Divano Thelma</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-ZiAssunta.png' %}" alt="ERROR">
        <h5><b>Zi'Assunta Belpaese</b></h5>
        </div>
    </div>
</div>
<h1><b>Secret characters</b></h1>
<div class="row" style="margin-bottom:60px">
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Exdash.png' %}" alt="ERROR">
        <h5><b>Exdash Exiviiq</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Toastie.png' %}" alt="ERROR">
        <h5><b>Toastie</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Smith.png' %}" alt="ERROR">
        <h5><b>Smith IV</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Marrabbio.png' %}" alt="ERROR">
        <h5><b>Boon Marrabbio</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Avatar.png' %}" alt="ERROR">
        <h5><b>Avatar Infernas</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Minnah.png' %}" alt="ERROR">
        <h5><b>Minnah Mannarah</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Leda.png' %}" alt="ERROR" style="width:144px; height:138px;" >
        <h5><b>Leda</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Cosmo.png' %}" alt="ERROR">
        <h5><b>Cosmo Pavone</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Peppino.png' %}" alt="ERROR" style="width:72px; height:144px; ">
        <h5><b>Peppino</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Trouser.png' %}" alt="ERROR">
        <h5><b>Big Trouser</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-Gains.png' %}" alt="ERROR">
        <h5><b>Gains Boros</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-Gyorunton.png' %}" alt="ERROR">
        <h5><b>Gyorunton</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-Red_Death.png' %}" alt="ERROR">
        <h5><b>Mask of the Red Death</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-Scorej-Oni.png' %}" alt="ERROR">
        <h5><b>Scorej-Oni</b></h5>
        </div>
    </div>
</div>
<h1><b>Legacy of the Moonspell DLC characters</b></h1>
<div class="row" style="margin-bottom:60px">
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Miang.png' %}" alt="ERROR">
        <h5><b>Miang Moonspell</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Menya.png' %}" alt="ERROR">
        <h5><b>Menya Moonspell</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Syuuto.png' %}" alt="ERROR">
        <h5><b>Syuuto Moonspell</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Babi-Onna.png' %}" alt="ERROR">
        <h5><b>Babi-Onna</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-McCoy-Oni.png' %}" alt="ERROR">
        <h5><b>McCoy-Oni</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-Menya.png' %}" alt="ERROR">
        <h5><b>Megalo Menya Moonspell</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-Syuuto.png' %}" alt="ERROR">
        <h5><b>Megalo Syuuto Moonspell</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-GavEt-Oni.png' %}" alt="ERROR">
        <h5><b>Gav'Et-Oni</b></h5>
        </div>
    </div>
    </div>
<h1><b>Tides of the Foscari DLC characters</b></h1>
<div class="row" style="margin-bottom:60px">
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Eleanor.png' %}" alt="ERROR">
        <h5><b>Eleanor Uziron</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Maruto.png' %}" alt="ERROR" style="width:144px; height:144px;">
        <h5><b>Maruto Cuts</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Keitha.png' %}" alt="ERROR">
        <h5><b>Keitha Muort</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Luminaire-C.png' %}" alt="ERROR" style="width:144px; height:144px;">
        <h5><b>Luminaire Foscari</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/Sprite-Genevieve.png' %}" alt="ERROR" style="width:144px; height:144px;">
        <h5><b>Genevieve Gruyère</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-Je-Ne-Viv.png' %}" alt="ERROR" style="width:144px; height:144px;">
        <h5><b>Je-Ne-Viv</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-Sammy.png' %}" alt="ERROR" style="width:144px; height:144px;">
        <h5><b>Sammy</b></h5>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
        <img src="{% static 'main/images/black_Sprite-RottinGhoul.png' %}" alt="ERROR" style="width:144px; height:144px;">
        <h5><b>Rottin'Ghoul</b></h5>
        </div>
    </div>
</div>
</div>
{% else %}
<div class="centreblock"><a href="{% url 'Login' %}" class="nav-link px-2"><h1><b>You need to login.</b></h1></a>
<img src="{% static 'main/images/stop.png' %}" alt="ERROR">
</div>
{% endif %}
{% endblock %}